<div class="container">
    <form name="frmCategory">
        <div class="form-group">
            <label>Category Row Id</label>
            <input type="text" name="CategoryRowId" class="form-control" [(ngModel)]="category.CategoryRowId">
        </div>
        <div class="form-group">
            <label>Category Id</label>
            <input type="text" name="CategoryId" class="form-control" [(ngModel)]="category.CategoryId">
        </div>
        <div class="form-group">
            <label>Category Name</label>
            <input type="text" name="CategoryName" class="form-control" [(ngModel)]="category.CategoryName">
        </div>
        <div class="form-group">
            <label>Base Price</label>
            <input type="text" name="BasePrice" class="form-control" [(ngModel)]="category.BasePrice">
        </div>
        <div class="form-group">
            <input type="button" class="btn btn-warning" value="New" (click)="clear()">
            <input type="submit" class="btn btn-success" value="Save" (click)="save()">
        </div>
    </form>
</div>
<div class="container">
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <!--Generating Table Column Headers from Properties of Category Class-->
                <th *ngFor="let c of tableColumns">{{c}}</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let cat of categories" (click)="getSelectedCategory(cat)">
                <!--Generating Table rows from Properties of Category Class-->
                <td *ngFor="let c of tableColumns">{{cat[c]}}</td>
            </tr>
        </tbody>
    </table>
</div>