<h1>Hello World Angular</h1>
<!--The Angular Expression Binding. This is alway Read-Only-->
<h2>{{message}}</h2>
<h2>{{title}}</h2>
<!--Property Binding-->
<input type="text" [value]="message" class="form-control">
<br>
<!--The $event will read the event parameter for current HTML Element-->
<input type="button" value="Click Me" (click)="display($event)" class="btn btn-danger">
<br>

<input type="text" class="form-control" [(ngModel)]="name">
<br>
<input type="text" class="form-control" [(ngModel)]="name">
<br>
<input type="text" class="form-control" [(ngModel)]="name">
<hr>
<div class="container"> Seelcted Character {{seleName}}</div>
<select class="form-control" [(ngModel)]="seleName" (change)="selectedName($event)">
  <option *ngFor="let n of names" value="{{n}}">{{n}}</option>
</select>